*.pyc
venv/
lib/
certs/
include/
backup/
nginx/
static/
.cache/
clients.conf
db.sqlite3
IDaaS/IDaaS/conf/local_settings.py
IDaaS/GApps/conf/client_secret.json
inner-tunnel
default
eap
mschap
rest
sql
authorize
docker-compose.yml
