<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>

<body>
    <div class="wrapper">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h1 class="active">Hi, {{user.first_name}} {{user.last_name}}!</h1>
        
            <!-- Icon -->
            <div>
                <img src="
                    {% if request.session.avatar_url %}
                        {{request.session.avatar_url}}
                    {% elif request.session.gender == 'female' %}
                        {% static 'img/female.svg' %}
                    {% else %}
                        {% static 'img/male.svg' %}
                    {% endif %}" 
                id="icon" alt="User Icon" />
                
            </div>
            {% if request.session.isAdmin%}
            <a class="large-button" href="/accounts/schedule-sync/">
                <span>Sync Google users to Django</span>
            </a>
            {% endif %}
            <h3>Change your wi-fi password</h3>
            <div class="helptext">
                {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="alert alert-error">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="password1" id="id_password1" autocomplete="off" required placeholder="Password">
                <input type="password" name="password2" id="id_password2" autocomplete="off" required placeholder="Password confirmation">
                <input type="submit" value="Change">
            </form>
            <div class="push-right">
                <a href="/accounts/logout/">
                    <span>Logout</span>
                </a>
            </div>          
        </div>
    </div>
</body>
</html>